<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Site title</title>
    <link rel="stylesheet" href='stylesheets/style.css'>
    <body>

        {{{body}}}
        <script type="text/javascript">
        </script>

    </body>
</html>